<div class="row padding-top padding-bottom-lg" ng-hide="$ctrl.isError()">
  <div class="col-xs-12">
    <h3>Trend Graph</h3>
    <div class="row">
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics[0]"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.filterOptions(1)">
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics[1]"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.filterOptions(0)">
        </select>
      </div>
    </div>
    <br>
    <div class="trend-chart">
      <rl-chart data="$ctrl.chart"></rl-chart>
    </div>
    <table class="table table-trend-metrics">
      <tr>
        <td ng-repeat="trend in $ctrl.metrics">
          <span class="fa fa-circle" ng-style="{'color': $ctrl.colors[$index]}"></span>
          {{trend.label}}:
          <b>{{$ctrl.getTotals(trend)}}</b>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="alert alert-danger" ng-show="$ctrl.isError()">
  <h4 style="margin-top:0;">There was an error fetching the campaign perfomance data.</h4>
  <p>{{$ctrl.data}}</p>
</div>
