@import './src/styles/variables';

.trend-chart {
  position: relative;
  min-height: 350px;

  .chart-container {
    height: 350px;
    margin-bottom: $grid-gutter-width;
  }

  .table-trend-metrics {
    td {
      width: 50%;

      &:first-child {
        text-align: right;
      }
    }
  }

  .loading {
    height: 350px;
  }
}
