<div class="panel panel-default" ng-hide="$ctrl.isError()">

  <div class="panel-heading panel-heading--form">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="panel-title">Age &amp; Gender</h3>
      </div>
      <div class="col-sm-2">
        <select class="form-control input-sm"
          ng-model="$ctrl.metrics[0]"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.filterOptions(1)">
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-control input-sm"
          ng-model="$ctrl.metrics[1]"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.filterOptions(0)">
        </select>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class="col-md-2 text-center">
        <br><br>
        <h2>{{$ctrl.metrics[0].label}}</h2>
        <br>
        <h4>
          <span class="fa fa-male" ng-style="{'color': $ctrl.colors[0].male}"></span>
          Male
        </h4>
        <h5>
          <b>{{$ctrl.getTotals(0, 'male').percentage}}&#37;</b>
          ({{$ctrl.getTotals(0, 'male').total}})
        </h5>
        <h4>
          <span class="fa fa-female" ng-style="{'color': $ctrl.colors[0].female}"></span>
          Female
        </h4>
        <h5>
          <b>{{$ctrl.getTotals(0, 'female').percentage}}&#37;</b>
          ({{$ctrl.getTotals(0, 'female').total}})
        </h5>
      </div>

      <div class="col-md-4">
        <div class="demographic-chart">
          <rl-chart data="$ctrl.charts[0]"></rl-chart>
        </div>
      </div>

      <div class="col-md-4">
        <div class="demographic-chart">
          <rl-chart data="$ctrl.charts[1]"></rl-chart>
        </div>
      </div>

      <div class="col-md-2 text-center">
        <br><br>
        <h2>{{$ctrl.metrics[1].label}}</h2>
        <br>
        <h4>
          <span class="fa fa-male" ng-style="{'color': $ctrl.colors[1].male}"></span>
          Male
        </h4>
        <h5>
          <b>{{$ctrl.getTotals(1, 'male').percentage}}&#37;</b>
          ({{$ctrl.getTotals(1, 'male').total}})
        </h5>
        <h4>
          <span class="fa fa-female" ng-style="{'color': $ctrl.colors[1].female}"></span>
          Female
        </h4>
        <h5>
          <b>{{$ctrl.getTotals(1, 'female').percentage}}&#37;</b>
          ({{$ctrl.getTotals(1, 'female').total}})
        </h5>
      </div>

    </div>
  </div>
</div>

<div class="alert alert-danger" ng-show="$ctrl.isError()">
  <h4 style="margin-top:0;">There was an error fetching the campaign age &amp; gender data.</h4>
  <p>{{$ctrl.data}}</p>
</div>
