<div class="panel panel-default">
  <div class="panel-heading panel-heading--form">
    <div class="row">
      <div class="col-md-7">
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="col-md-5" ng-hide="$ctrl.isError()">
        <select class="form-control input-sm"
          ng-model="$ctrl.metric"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.options">
        </select>
      </div>
    </div>
  </div>
  <div class="panel-body text-center">
    <div class="device-chart" ng-hide="$ctrl.isError()">
      <rl-chart data="$ctrl.chart"></rl-chart>
    </div>
    <div class="alert alert-danger text-left no-margin" ng-show="$ctrl.isError()">
      <h4 class="alert-title">
        <i class="fa fa-exclamation-triangle"></i>
        There was an error fetching the campaign device data.
      </h4>
      <p>{{$ctrl.data}}</p>
    </div>
  </div>
  <table class="table" ng-hide="$ctrl.isError()">
    <tr ng-repeat="item in $ctrl.metricData">
      <td>
        <span class="fa fa-circle" ng-style="{'color': $ctrl.colors[$index]}"></span>
        {{item.type}}
      </td>
      <td class="text-right col-sm">
        <b>{{item.percentage}}&#37;</b>
      </td>
      <td class="text-right col-sm">
        ({{item.value | number}})
      </td>
    </tr>
  </table>
</div>
