<div class="panel panel-default">
  <div class="panel-heading panel-heading--form">
    <div class="row">
      <div class="col-md-7">
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="col-md-5">
        <select class="form-control input-sm"
          ng-model="$ctrl.metric"
          ng-change="$ctrl.updateChart()"
          ng-options="item as item.label for item in $ctrl.options">
        </select>
      </div>
    </div>
  </div>
  <div class="panel-body text-center">
    <div class="device-chart">
      <rl-chart data="$ctrl.chart"></rl-chart>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="label in $ctrl.labels">
      <b class="pull-right">{{$ctrl.chart.data.datasets[0].data[$index]}}&#37;</b>
      <span class="fa fa-circle" ng-style="{'color': $ctrl.colors[$index]}"></span>
      {{label}}
    </li>
  </ul>
</div>
