@import './src/styles/variables';

.table-report {
  thead,
  tbody {
    background-color: $rl-pale-gray;
  }

  th, td {
    white-space: nowrap;
  }

  td span {
    white-space: pre-wrap;
  }

  .utilization,
  .budget,
  .spend,
  .impressions,
  .cpm,
  .ctr,
  .allClicks,
  .frequency,
  .reach,
  .socialReach,
  .socialImpressions,
  .websiteClicks,
  .buttonClicks,
  .linkClicks,
  .socialClicks,
  .leadForms,
  .checkIns,
  .postComments,
  .postReactions,
  .postShares,
  .postEngagements,
  .pageLikes,
  .pageEngagements {
    text-align: right;
  }
}