@import './src/styles/variables';

.rl-date-range-modal {
  .col-list-ranges {
    li {
      display: block;
      user-select: none;
      padding: 5px ($grid-gutter-width / 2);
      color: $text-color;
      cursor: pointer;

      .fa {
        margin-left: 2px;
        color: $brand-success;
        display: none;
      }

      &.active {
        //background-color: $rl-medium-blue-gray;
        //color: $rl-white;
        text-decoration: none;

        .fa {
          display: inline;
        }
      }

      &:hover {
        background-color: $rl-blue-gray;
        color: $rl-white;
        text-decoration: none;

        .fa {
          color: $state-success-text;
        }
      }
    }
  }

  .nav-tabs {
    > li > a {
      padding-left: 30px;
      padding-right: 30px;
    }

    li {
      width: 33%;
      text-align: center;
    }
  }

  .tab-content {
    padding: $panel-body-padding;
    border: solid 1px $border-color;
    border-top: none;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;

    .select-label,
    .top-label {
      font-size: $font-size-small;
      text-transform: uppercase;
      text-align: center;
      user-select: none;
    }

    .select-label {
      color: $rl-blue-gray;
    }

    .range-tile {
      color: $label-color;
      border: solid 1px $border-color;
      margin: 3px;
      padding: 5px;
      text-align: center;
      min-height: 85px;

      .tile-title {
        font-size: 24px;
        color: $link-color;
      }

      .date-title {
        margin-top: 20px;
      }

      .cycle-date-range,
      .tile-info {
        color: $rl-blue-gray;
      }
    }

    .select-range {
      text-align: center;
      padding: 3px;
      height: 300px;
    }
  }

  .rl-select {
    .cycleNumber {
      display: inline-block;
      vertical-align: middle;
    }

    .cycleNumber::before {
      content: 'Cycle ';
    }

    .cycleId {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }

    .cycleId::before {
      content: ' (';
    }

    .cycleId::after {
      content: ') ';
    }
  }

  .datepicker {
    display: inline-block;

    div:focus {
      outline: 0;
    }
  }

  .bookend span {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: $rl-primary-color;
    border-radius: 9px;
    color: $text-color;
  }

  .modal-footer span.rl-range-label {
    margin-right: ($grid-gutter-width / 2);
  }
}
