<div class="rl-date-range-modal">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12" translate>
        campaignDataSettings.modalHeading
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 no-padding">
        <uib-tabset active="$ctrl.activeTab">
          <uib-tab index="0" select="$ctrl.selectTab('cycles')" heading="{{'dateRange.cycles' | translate}}">
            <div class="row">
              <div class="col-sm-3 col-list-ranges">
                <ul class="list-unstyled">
                  <li ng-repeat="range in ::$ctrl.resolve.ranges.cycles" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.workingSettings.name === range.name}">
                    {{range.name}} <i class="fa fa-check"></i>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.start</div>
                <div class="range-tile">
                  <div class="tile-title"><span translate>campaignDataSettings.cycle</span> {{$ctrl.workingSettings.start.cycleNumber}}</div>
                  <div class="tile-info">({{$ctrl.workingSettings.start.cycleId}})</div>
                  <div class="tile-info">{{$ctrl.workingSettings.start.dateRange}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectStart</div>
                  <rl-select on-select="$ctrl.handleCycleStartSelect(item)" options="$ctrl.options.start"></rl-select>
                </div>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.end</div>
                <div class="range-tile">
                  <div class="tile-title"><span translate>campaignDataSettings.cycle</span> {{$ctrl.workingSettings.end.cycleNumber}}</div>
                  <div class="tile-info">({{$ctrl.workingSettings.end.cycleId}})</div>
                  <div class="tile-info">{{$ctrl.workingSettings.end.dateRange}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectEnd</div>
                  <rl-select on-select="$ctrl.handleCycleEndSelect(item)" options="$ctrl.options.end"></rl-select>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" select="$ctrl.selectTab('months')" heading="{{'dateRange.months' | translate}}" disable="!$ctrl.monthsEnabled">
            <div class="row" ng-if="$ctrl.workingSettings.breakdownType=='months'">
              <div class="col-sm-3 col-list-ranges">
                <ul class="list-unstyled">
                  <li ng-repeat="range in ::$ctrl.resolve.ranges.months" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.workingSettings.name === range.name}">
                    {{range.name}} <i class="fa fa-check"></i>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.start</div>
                <div class="range-tile">
                  <div class="tile-title date-title">{{$ctrl.workingSettings.start | date: 'MMM yyyy'}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectStart</div>
                  <div class="datepicker" uib-datepicker ng-model="$ctrl.workingSettings.start" ng-change="$ctrl.onWorkingSettingsChange()" datepicker-options="$ctrl.options.start"></div>
                </div>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.end</div>
                <div class="range-tile">
                  <div class="tile-title date-title">{{$ctrl.workingSettings.end | date: 'MMM yyyy'}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectEnd</div>
                  <div class="datepicker" uib-datepicker ng-model="$ctrl.workingSettings.end" ng-change="$ctrl.onWorkingSettingsChange()" datepicker-options="$ctrl.options.end"></div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2" select="$ctrl.selectTab('days')" heading="{{'dateRange.days' | translate}}" disable="!$ctrl.daysEnabled">
            <div class="row" ng-if="$ctrl.workingSettings.breakdownType=='days'">
              <div class="col-sm-3 col-list-ranges">
                <ul class="list-unstyled">
                  <li ng-repeat="range in ::$ctrl.resolve.ranges.days" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.workingSettings.name === range.name}">
                    {{range.name}} <i class="fa fa-check"></i>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.start</div>
                <div class="range-tile">
                  <div class="tile-title date-title">{{$ctrl.workingSettings.start | date: $ctrl.service.dateFilter.days}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectStart</div>
                  <div class="datepicker" uib-datepicker ng-model="$ctrl.workingSettings.start" ng-change="$ctrl.onWorkingSettingsChange()" datepicker-options="$ctrl.options.start"></div>
                  <div><em ng-if="$ctrl.resolve.cycles"><span class="bookend"><span>&nbsp;</span></span> <span translate>dateRange.calendarNotation</span></em></div>
                </div>
              </div>
              <div class="col-sm-4 no-padding">
                <div class="top-label" translate>app.end</div>
                <div class="range-tile">
                  <div class="tile-title date-title">{{$ctrl.workingSettings.end | date: $ctrl.service.dateFilter.days}}</div>
                </div>
                <div class="select-range">
                  <div class="select-label" translate>campaignDataSettings.selectEnd</div>
                  <div class="datepicker" uib-datepicker ng-model="$ctrl.workingSettings.end" ng-change="$ctrl.onWorkingSettingsChange()" datepicker-options="$ctrl.options.end"></div>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <campaign-data-settings-label settings="$ctrl.workingSettings"></campaign-data-settings-label>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" translate>app.cancel</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.update()" translate>app.update</button>
  </div>
</div>
