<span class="rl-range-label"><b class="text-uppercase">{{$ctrl.range.breakdownType}}</b> | <b ng-if="$ctrl.range.name">{{$ctrl.range.name}}</b>
  <span ng-if="$ctrl.range.breakdownType=='cycles'"><span translate>{{$ctrl.range.start.cycleNumberStr}}</span> <span class="text-muted">({{$ctrl.range.start.cycleId}})</span> &mdash; Cycle {{$ctrl.range.end.cycleNumber}} <span class="text-muted">({{$ctrl.range.end.cycleId}})</span></span>
<span ng-if="$ctrl.range.breakdownType!='cycles'">{{$ctrl.service.showField($ctrl.range,'start')}} &mdash; {{$ctrl.service.showField($ctrl.range,'end')}}</span>
</span>
