<div class="rl-date-range-modal">
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12" translate>
        dateRange.modalHeading
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <uib-tabset active="active">
          <uib-tab index="0" heading="{{'dateRange.cycles' | translate}}">
            <div class="col-sm-3 col-list-ranges">
              <ul class="list-unstyled">
                <li ng-repeat="range in ::$ctrl.resolve.ranges.cycles" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.range.name === range.name}">
                  {{range.name}} <i class="fa fa-check"></i>
                </li>
              </ul>
            </div>
            <div class="col-sm-9">
              <div class="text-uppercase" translate>app.start</div>
              <div class="text-uppercase" translate>app.end</div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="{{'dateRange.months' | translate}}">
            <div class="col-sm-3 col-list-ranges">
              <ul class="list-unstyled">
                <li ng-repeat="range in ::$ctrl.resolve.ranges.months" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.range.name === range.name}">
                  {{range.name}} <i class="fa fa-check"></i>
                </li>
              </ul>
            </div>
            <div class="col-sm-9">
              <div class="text-uppercase" translate>app.start</div>
              <div class="text-uppercase" translate>app.end</div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="{{'dateRange.days' | translate}}">
            <div class="row">
              <div class="col-sm-3 col-list-ranges">
                <ul class="list-unstyled">
                  <li ng-repeat="range in ::$ctrl.resolve.ranges.days" ng-click="$ctrl.setRange(range)" ng-class="{'active':$ctrl.range.name === range.name}">
                    {{range.name}} <i class="fa fa-check"></i>
                  </li>
                </ul>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-md-6 text-center">
                    <div class="datepicker" uib-datepicker ng-model="$ctrl.range.start" datepicker-options="$ctrl.options.start"></div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="datepicker" uib-datepicker ng-model="$ctrl.range.end" datepicker-options="$ctrl.options.end"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <em ng-if="$ctrl.resolve.cycles"><span class="bookend"><span>&nbsp;</span></span> <span translate>dateRange.calendarNotation</span></em>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <rl-date-range-label range="$ctrl.range"></rl-date-range-label>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()" translate>app.cancel</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.update()" translate>app.update</button>
  </div>
</div>
