@import './src/styles/variables';

.rl-expanding-header {
  z-index: 10;
  margin: -($grid-gutter-width / 2);
  padding: ($grid-gutter-width / 2);
  background-color: $rl-white;
  transition: max-height 0.5s;

  h1, h2, h3, h4, h5 {
    margin: 5px 0 0 0;
  }

  .btn-date-range {
    margin-top: -10px;
  }

  .btn-data-settings {
    white-space: normal;
  }

  .rl-expanding-header_button {
    position: relative;
    bottom: -7px;
    left: 50%;

    &.rl-expanding-header_button--hide {
      visibility: hidden;
    }

    &:focus {
      outline: 0;
    }
  }

  .drawer {
    position: absolute;
    left: 0;
    right: 0;
    padding: ($grid-gutter-width / 2);
    background-color: $rl-white;

    td {
      width: 50%;
    }
  }

}

.rl-expading-header__body {
  padding-top: ($grid-gutter-width / 2);
  z-index: 1;
}
