@import './src/styles/variables';

.rl-color-theme-picker
  .red-indicator {
    .scheme1 {
      color: $scheme1_red;
    }
    .scheme2 {
      color:$scheme2_red;
    }
  }
  .green-indicator {
    .scheme1 {
      color: $scheme1_green;
    }
    .scheme2 {
      color: $scheme2_green;
    }
  }
  .yellow-indicator {
    .scheme1 {
      color: $scheme1_yellow;
    }
    .scheme2 {
      color: $scheme2_yellow;
    }
  }
  .grey-indicator {
    .scheme1,.scheme2 {
      color: $schemes_gray;
    }
  }

  .theme-panel {
    .toggler {
      right: 0;
      position: absolute;
      padding: 6px;
      top: 4px;
      cursor: pointer;
      background-color: $togler_gray;
      color: $rl-bright-white;
    }
    .toggler-close {
      right: 0;
      z-index: 101; //when the color picker is open the close btn should be visible
      position: absolute;
      background-color: $theme_picker_black;
      border-radius: $border-radius-base;
      padding: 20px;
      top: 4px;
      cursor: pointer;
      color: $rl-bright-white;
    }
    .theme-options {
      .theme-option {
        > span:first-child {
          text-transform: uppercase;
          display: inline-block;
          width: 145px;
          font-size: 14px;
          font-weight: bold;
        }
        width: 420px;
        color: $theme_picker_text;
        padding: 15px;
        margin-top: 0;
        margin-bottom: 0;
      }
      .theme-option.theme-colors {
        > span:first-child {
          display: block;
          width: auto;
        }
        ul {
          list-style: none;
          padding: 0;
          display: block;
          margin-bottom: 10px;
          margin-top: 15px;
        }
        .theme-indicators-container {
          span {
            margin-left: 8%;
          }
          background-color: $rl-bright-white;
          color: black;
          width: 80%;
          border-radius: 20px;
          margin-left: 18px;
        }
        border-top: 0;
        padding-top: 20px;
      }

      top: 4px;
      right: 0;
      position: absolute;
      background: $theme_picker_black;
      border-radius: 4px;
    }
    position: absolute;
    margin-right: 20px;
    right: 0;
    width: 420px;
  }
