.rl-social-dashboard {
	.dropdown-container {
		.col {
			display: flex;
			align-items: center;
			float: left;
			margin-left: 10px;
		}

		label {
			float: left;
			font-weight: normal;
			margin-bottom: 0px;
		}

		rl-dropdown {
			position: relative;
			margin-left: 5px;
			border-left: thin solid #000;
			padding-left: 10px;
			float: left;
			min-width: 8.5em;
		}

		.form-group {
			width: 9em;
		}
	}
}
