.rl-social-dashboard {
  background-color: $rl-white;

  .dropdown-container {
    .col {
      display: flex;
      align-items: center;
      float: left;
      margin-left: 10px;
    }

    label {
      float: left;
      font-weight: normal;
      margin-bottom: 0;
    }

    .left-bordered-dropdown {
      position: relative;
      margin-left: 5px;
      border-left: thin solid $rl-black;
      padding-left: 10px;
      float: left;
      min-width: 136px;
    }

    .form-group {
      width: 144px;
    }
  }

  .metric-hover-item:hover .metric-hover {
    display: block;
  }

  .rl-dashboard-table {
    padding: 20px;
  }
}

.table-bordered > tbody > tr > .first-cycle {
  border-left: 0.6rem solid $highlighter-orange;
}

.table-bordered > tbody > tr > .second-cycle {
  border-left: 0.6rem solid $highlighter-blue;
}
