@import './src/styles/variables';

.rl-social-dashboard {
  background-color: $rl-white;

  .doc-reference-container {
    background-color: $references_box_blue;
    padding: 5px;
  }

  .dropdown-container {
    margin: 0;
    .col {
      display: flex;
      align-items: center;
      float: left;
      margin-left: 10px;
      margin-top: 10px;
    }

    label {
      float: left;
      font-weight: normal;
      margin-bottom: 0;
    }

    .left-bordered-dropdown {
      position: relative;
      margin-left: 5px;
      border-left: thin solid $rl-black;
      padding-left: 10px;
      float: left;
      min-width: 136px;
    }

    .fb-search-filter {
      position: initial;
    }

    .fb-search-filter .form-inline input[type="text"] {
      width: 114px;
    }

    .rl-dropdown .select2 > .select2-choice.ui-select-match {
      height: 36px;
    }

    .rl-multi-filter-toolbar
    {
      .form-inline {
        vertical-align: middle;
      }

      .input-group-btn {
        width: auto;
      }
    }
  }

  .dashboard-filter-container {
    margin: 10px 0 0 0;
  }

  .metric-hover-item:hover .metric-hover {
    display: block;
  }

  .rl-dashboard-table {
    padding: 20px;
  }
}

.table-bordered > tbody > tr > .first-cycle {
  border-left: 0.6rem solid $highlighter-orange;
}

.table-bordered > tbody > tr > .second-cycle {
  border-left: 0.6rem solid $highlighter-blue;
}
