<div class="rl-container rl-container__search-column advertisers">

  <div class="rl-content">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 translate>advertisers.title</h1>
        </div>
        <p class="text-right">
          1-25
          <span translate>advertisers.of</span>
          100
        </p>
        <div class="card" ng-repeat="row in $ctrl.rows">
          <div class="card-content">
            <h4 class="card-title">
              <a>JJ's Plumbing</a>
              <small class="text-info">MAID: 195288</small>
            </h4>
            <p>
              Bob's Business
              <span class="text-info">BID: 16235</span>
            </p>
            <p>
              Home &amp; Home Improvement &gt; Plumbing
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-column">
    <div class="form-group">
      <label class="text-uppercase" translate>advertisers.advertiserSearchTitle</label>
      <input type="input" class="form-control" translate-attr-placeholder="advertisers.advertiserSearchPlaceholder" translate>
    </div>
    <hr>
    <div class="form-group">
      <label class="text-uppercase" translate>advertisers.businessSearchTitle</label>
      <input type="input" class="form-control" translate-attr-placeholder="advertisers.businessSearchPlaceholder" translate>
    </div>
    <hr>
    <div class="form-group">
      <label class="text-uppercase" translate>advertisers.advertiserCategoryTitle</label>
      <rl-dropdown options="$ctrl.categories" on-select="$ctrl.handleCategorySelect(item)"></rl-dropdown>
    </div>
    <hr>
    <div class="form-group">
      <label class="text-uppercase" translate>advertisers.advertiserSubCategory</label>
      <rl-dropdown
        disabled="$ctrl.subCategories.disabled"
        options="$ctrl.subCategories"
        on-select="$ctrl.handleSubCategorySelect(item)"></rl-dropdown>
    </div>
  </div>

</div>
