@import './src/styles/variables';

.rl-home {
  .dropdown-container {
    margin: 0;
    .col {
      display: flex;
      align-items: center;
      float: left;
      margin-left: 10px;
      margin-top: 10px;
    }

    label {
      float: left;
      font-weight: normal;
      margin-bottom: 0;
    }

    .left-bordered-dropdown {
      position: relative;
      margin-left: 5px;
      border-left: thin solid $rl-black;
      padding-left: 10px;
      float: left;
      min-width: 136px;
    }

    .fb-search-filter {
      position: initial;
    }

    .fb-search-filter .form-inline input[type="text"] {
      width: 114px;
    }

    .rl-dropdown .select2 > .select2-choice.ui-select-match {
      height: 36px;
    }

    .rl-multi-filter-toolbar {
      .form-inline {
        vertical-align: middle;
      }

      .input-group-btn {
        width: auto;
      }
    }
  }

  .dashboard-filter-container {
    margin: 10px 0 0 0;
  }

  .nav-tabs > li.dashboard-tab.active > a {
    background-color: $rl-white;
  }

  .rl-dashboard-table {

    .red-indicator {
      .scheme1 {
        color: $scheme1_red;
      }
      .scheme2 {
        color: $scheme2_red;
      }
    }

    .green-indicator {
      .scheme1 {
        color: $scheme1_green;
      }
      .scheme2 {
        color: $scheme2_green;
      }
    }

    .yellow-indicator {
      .scheme1 {
        color: $scheme1_yellow;
      }
      .scheme2 {
        color: $scheme2_yellow;
      }
    }

    .grey-indicator {
      .scheme1,.scheme2 {
        color: $schemes_gray;
      }
    }

    .first-cycle-legend {
      background: $highlighter-orange;
      padding: 0 8px;
      margin: 0 6px 0 8px;
    }

    .second-cycle-legend {
      background: $highlighter-blue;
      padding: 0 8px;
      margin: 0 6px 0 8px;
    }

    .dashboard-table {
      overflow: visible;
    }

    .table-header-rotated {
      border-collapse: collapse;
      overflow: visible;
    }

    .table-header-rotated th {
      padding: 5px 10px;
    }

    .table-header-rotated td {
      width: 30px;
    }

    .table-header-rotated > thead td {
      text-align: center;
      padding: 10px 5px;
      border: 1px solid $border_color;
    }

    .table-header-rotated .title-row {
      background-color: $title_row_gray;
    }

    .table-header-rotated th.rotate {
      height: 140px;
      white-space: nowrap;
      border: none;

      hr.column-divider {
        transform: translate(-52px, -58px) rotate(298deg);
        width: 160px;
        position: absolute;
        background-color: $border_color;
        color: $border_color;
        height: 1px;
        border: 0;
        margin-top: 13px;
      }

      hr.column-divider-last {
        transform: translate(-52px, -64px) rotate(296deg);
        width: 155px;
        position: absolute;
        background-color: $border_color;
        color: $border_color;
        height: 1px;
        border: 0;
      }

      .title-center {
        width: 50%;
        float: right;
      }

      .title-center-last-item {
        width: 74%;
        float: right;
      }
    }

    .table-header-rotated th.rotate .title-cell {
      -webkit-transform: translate(0, -10px) rotate(298deg);
      transform: translate(0, -10px) rotate(298deg);
      width: 25px;
    }

    .table-header-rotated th.row-header {
      padding: 0 10px;
      border-bottom: 1px solid $border_color;
    }

    .control {
      font-size: 18px;
      position: relative;
      display: block;
      margin-bottom: 15px;
      padding-left: 30px;
      cursor: pointer;
      height: 20px;
    }

    .control input {
      position: absolute;
      display: none;
    }

    .control__indicator {
      position: absolute;
      top: 2px;
      left: 16px;
      width: 20px;
      height: 20px;
      background: $checkbox_bg;
    }

    /* Hover and focus states */
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: $border-color;
    }

    /* Checked state */
    .control input:checked ~ .green_control_indicator {
      background: $indicator_green;
    }

    /* Hover state whilst checked */
    .control input:checked ~ .yellow_control_indicator {
      background: $indicator_yellow;
    }

    /* Disabled state */
    .control input:disabled ~ .green_control_indicator {
      pointer-events: none;
      background: $indicator_green;
    }
    .control input:disabled ~ .yellow_control_indicator {
      pointer-events: none;
      background: $indicator_yellow;
    }

    /* Check mark */
    .control__indicator:after {
      position: absolute;
      display: none;
      content: '';
    }

    /* Show check mark */
    .control input:checked ~ .control__indicator:after {
      display: block;
    }

    /* Checkbox tick */
    .control--checkbox .control__indicator:after {
      top: 2px;
      left: 8px;
      width: 7px;
      height: 12px;
      transform: rotate(45deg);
      border: solid $rl-white;
      border-width: 0 2px 2px 0;
    }

  }

}
