<div class="rl-home">
  <div class="rl-container">
    <div class="rl-content">
      <div class="row">
        <uib-tabset active="$ctrl.tabIndex">
          <uib-tab index="0" ui-sref="home.searchdashboard" class="dashboard-tab" heading="{{'home.searchDashboard' | translate}}">
            <div ui-view="searchView"></div>
          </uib-tab>
          <uib-tab index="1" ui-sref="home.socialdashboard" class="dashboard-tab" heading="{{'home.socialDashboard' | translate}}">
            <div ui-view="socialView"></div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
