@import 'variables';

.page-header {
  margin-top: 0;
}

.text-info {
  color: $rl-medium-blue-gray;
}

h3.panel-title {
  font-size: $font-size-h3;
}

.panel-heading--form {
  min-height: 50px;

  h3 {
    line-height: 30px;
  }
}

.tooltip {
  .tooltip-arrow {
    z-index: 5;
  }

  .tooltip-inner {
    z-index: 1;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    hr {
      margin: ($grid-gutter-width / 6) 0;
      border-color: $rl-medium-blue-gray;
    }
  }
}
