<div class="rl-dropdown">
  <ui-select
    ng-model="$ctrl.selected"
    ng-change="$ctrl.selectItem()"
    ng-class="{'rl-dropdown-body': true, '{{$ctrl.customClass}}': $ctrl.customClass}"
    ng-disabled="$ctrl.disabled"
    theme="select2"
    append-to-body="true">

    <ui-select-match placeholder="{{$ctrl.placeholder}}">{{$select.selected[$ctrl.mainField]}}</ui-select-match>
    <ui-select-choices repeat="item in $ctrl.list | rlSearchFilter:$select.search:$ctrl.showFields">
      <div ng-bind-html="item[$ctrl.mainField] | highlight: $select.search"></div>
      <small class="fields">
        <div class="field"
          ng-class="'{{field.class}}'"
          ng-if="$index > 0"
          ng-repeat="field in $ctrl.showFields">

          <span ng-if="field.label">{{field.label}}: </span>
          <span ng-bind-html="''+item[field.field] | highlight: $select.search"></span>
        </div>
      </small>
    </ui-select-choices>
  </ui-select>
</div>
