@import './src/styles/variables';

.rl-body {
  padding-top: $navbar-height;
  padding-bottom: 38px;
}

.rl-container {
  height: 100%;

  .rl-content {
    padding: ($grid-gutter-width / 2);

    h1:first-child {
      margin-top: 0;
    }
  }
}
