@import './src/styles/variables';

.trend-chart {
  height: 350px;
  margin-bottom: $grid-gutter-width;
}

.table-trend-metrics {
  td {
    width: 50%;

    &:first-child {
      text-align: right;
    }
  }
}

.demographic-chart {
  height: 350px;
}

.device-chart {
  display: inline-block;
  width: 60%;
  height: 263px;
}

.table-report {
  thead {
    background-color: $rl-pale-gray;
  }

  .cycle-id {
    min-width: 200px;
  }
}