<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Campaign Overview</h2>
    </div>
  </div>
</div>

<!-- <campaign-overview-panels></campaign-overview-panels> -->

<campaign-trend-chart data="$ctrl.performanceData" breakdown-type="$ctrl.dataSettingsService.selectedSettings.breakdownType"></campaign-trend-chart>

<div class="row row-striped padding-top-lg padding-bottom">
  <div class="col-sm-9">
    <campaign-age-gender-chart data="$ctrl.ageGenderData"></campaign-age-gender-chart>
  </div>
  <div class="col-sm-3">
    <campaign-device-chart data="$ctrl.deviceData"></campaign-device-chart>
  </div>
</div>

<campaign-performance data="$ctrl.performanceData"></campaign-performance>
