@import './src/styles/variables';

.trend-chart {
  height: 350px;
  margin-bottom: $grid-gutter-width;
}

.table-trend-metrics {
  td {
    width: 50%;

    &:first-child {
      text-align: right;
    }
  }
}

.demographic-chart {
  height: 350px;
}

.device-chart {
  display: inline-block;
  width: 60%;
  height: 263px;
}

.table-report {
  thead,
  tbody {
    background-color: $rl-pale-gray;
  }

  th {
    white-space: nowrap;
  }

  td.dates {
    white-space: nowrap;
  }

  .utilization,
  .budget,
  .spend,
  .impressions,
  .cpm,
  .ctr,
  .all-clicks,
  .social-reach,
  .social-impressions,
  .website-clicks,
  .button-clicks,
  .link-clicks,
  .social-clicks,
  .lead-forms,
  .check-ins,
  .post-comments,
  .post-reactions,
  .post-shares,
  .post-engagement,
  .page-likes,
  .page-engagement {
    text-align: right;
  }
}
