<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Campaign Overview</h2>
    </div>
  </div>
</div>

<campaign-trend-chart
  ng-if="$ctrl.supported.performance"
  data="$ctrl.performanceData"
  breakdown-type="$ctrl.currentDataSettings.selectedSettings.breakdownType"
  loading="$ctrl.loading.performance"></campaign-trend-chart>

<div class="row row-striped padding-top-lg padding-bottom">
  <div class="col-md-9" ng-if="$ctrl.supported.ageGender">
    <campaign-age-gender-chart
      data="$ctrl.ageGenderData"
      loading="$ctrl.loading.ageGender"></campaign-age-gender-chart>
  </div>
  <div class="col-md-3 col-xs-6" ng-if="$ctrl.supported.device">
    <campaign-device-chart
      data="$ctrl.deviceData"
      loading="$ctrl.loading.device"></campaign-device-chart>
  </div>
</div>

<campaign-performance
  ng-if="$ctrl.supported.performance"
  data="$ctrl.performanceData"
  breakdown-type="$ctrl.currentDataSettings.selectedSettings.breakdownType"
  loading="$ctrl.loading.performance"></campaign-performance>
