<div class="rl-container">
  <div class="rl-content campaigns">

    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>Campaigns</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <form class="input-group" ng-submit="$ctrl.search()">
          <input class="form-control" type="text" placeholder="Enter campaign id" ng-model="$ctrl.searchInput">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped table-dashboard">
            <thead>
              <tr>
                <th>
                  Campaign<br>
                  (Master Campaign ID)
                </th>
                <th>
                  Advertiser<br>
                  (Master Advertiser ID)
                </th>
                <th>
                  Offer<br>
                  (Offer ID)
                </th>
                <th>
                  Category
                </th>
                <th>
                  Sub Category
                </th>
                <th>
                  Status
                </th>
                <th>
                  Budget
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in $ctrl.rows">
                <td class="campaign">
                  <a ui-sref="campaign.detail({mcid:row.masterCampaignId})">{{row.name}}</a><br>
                  MCID: {{row.masterCampaignId}}
                </td>
                <td class="advertiser">
                  {{row.advertiserName}}<br>
                  MAID: {{row.masterAdvertiserId}}
                </td>
                <td class="offer">
                  ---
                </td>
                <td class="category">
                  {{row.businessCategoryName}}
                </td>
                <td class="sub-category">
                  {{row.businessSubCategoryName}}
                </td>
                <td class="status">
                  ---
                </td>
                <td class="budget">
                  ---
                </td>
              </tr>
              <tr ng-if="$ctrl.rows.length === 0">
                <td colspan="8">No campaigns</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
